.header {
  position: fixed;
  z-index: 100;
  background-color: rgb(237, 240, 242);
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--top-line-color);
  box-shadow: #333;
}


.menu-nav {
  display: flex;
}

.logo {
  text-decoration: none;
  margin-right: 76px;
  padding: 12px 0;
}


