<section class="about container">
    <h2 class="section-title">
        Oficcial Site CargoService 
    </h2>
        <p>
            The Cargo Service team has extensive experience in organizing international and domestic transportation of goods by air,
            road, sea and rail. The company also carries out multimodal transportation of goods.
            
            The company cooperates with freight forwarding companies of various profiles, consolidation warehouses, insurance
            companies, customs brokers, law firms and other organizations in Ukraine, Europe, the CIS countries, Southeast Asia,
            North America and the Middle East, which allows us to provide a full range of freight forwarding services around the
            world.
        </p>
</section>