<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <p>It's better 5 days in advance, than 2 after!</p>
      <div class="social-list-wrapper">
        <p>Social Media</p>
        <ul class="footer-social-list">
          <li class="social-list-item">
            <a
              href="https://www.instagram.com/"
              class="social-link"
              rel="noopener noreferrer"
              target="_blank"
            >
              <svg class="social-svg" width="20" height="20">
                <use href="/src/images/instagram.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              href="https://www.facebook.com/"
              class="social-link"
              rel="noopener noreferrer"
              target="_blank"
            >
              <svg class="social-svg" width="20" height="20">
                <use href="/src/images/facebook.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
