<footer class="footer">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi hic rerum facere magni facilis impedit eveniet, blanditiis sint nisi quis similique, earum id numquam, dolores repellendus eaque velit obcaecati labore.
    Laboriosam illo doloribus odit repudiandae fugit et dolorem dolore nesciunt. Sunt culpa sequi ipsam fugiat officia porro ipsa repudiandae rerum molestias. Consequuntur at sint voluptate aliquam animi voluptatum quia architecto!
    Inventore, voluptatibus! Ipsum accusantium illum voluptatibus id quidem expedita modi neque repellendus laboriosam dolorum cumque sapiente fuga eius voluptatum nostrum aliquam commodi fugiat, cupiditate voluptas atque nesciunt nemo odio deserunt.
    </p>
  </div>
</footer>
