<footer class="footer">
  <div class="container footer-flex">
    <div class="social-media">
      <p class="social-text">Social media</p>
      <ul class="social-footer">
        <li class="social-list-footer-item">
          <a href="" class="social-list-footer-icon">
            <svg width="24px" height="24px"></svg>
          </a>
        </li>
        <li class="social-list-footer-item">
          <a href="" class="social-list-footer-icon">
            <svg width="24px" height="24px"></svg>
          </a>
        </li>
        <li class="social-list-footer-item">
          <a href="" class="social-list-footer-icon">
            <svg width="24px" height="24px"></svg>
          </a>
        </li>
        <li class="social-list-footer-item">
          <a href="" class="social-list-footer-icon">
            <svg width="24px" height="24px"></svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="subscribe">
      <p class="social-text">Subscribe</p>
      <form class="footer-form">
        <input
          type="email"
          name="footer-email"
          placeholder="E-mail"
          class="footer-input"
        />
        <button type="submit" class="footer-btn">
          Subscribe
          <svg width="24" height="24"></svg>
        </button>
      </form>
    </div>
  </div>
</footer>
