<header class="header">
  <div class="container">
    <div class="menu-nav">
      <nav class="menu-nav">
        <a class="logo" href="./index.html"><img width="140px" height="50px" src="/src/images/logo.png"
            alt="CargoService" /></a>
        <ul class="nav-links">
          <li class="menu-item">
            <a href="#">Services</a>
            <ul class="sub-menu">
              <li class="sub-menu-item"><a href="#">Road Transport</a></li>
              <li class="sub-menu-item"><a href="#">Air Transport</a></li>
              <li class="sub-menu-item"><a href="#">Rail Transport</a></li>
              <li class="sub-menu-item"><a href="#">Sea Transport</a></li>
              <li class="sub-menu-item"><a href="#">Multimodal</a></li>
              <li class="sub-menu-item"><a href="#">Special Cargo</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Industries</a>
            <ul class="sub-menu">
              <li class="sub-menu-item"><a href="#">First Elem</a></li>
              <li class="sub-menu-item"><a href="#">sectyasf</a></li>
              <li class="sub-menu-item"><a href="#">asdasdasd</a></li>
              <li class="sub-menu-item"><a href="#">Sea asdasd</a></li>
              <li class="sub-menu-item"><a href="#">asdasdasd</a></li>
              <li class="sub-menu-item"><a href="#">Sasdasd</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="button-wrapper">
        <a href="#" class="open-modal-btn">
          <div class="button__line"></div>
          <div class="button__line"></div>
          <span class="button__text">Contact Us</span>
          <div class="button__drow1"></div>
          <div class="button__drow2"></div>
        </a>
        <div class="popup" id="popup">
          <div class="popup-inner">
            <div class="popup__photo">
              <img src="/src/images/modal-photo-1.jpg" alt="">
            </div>
            <div class="popup-wrapper">
              <h2 class="popup-title">Tell information about yourself</h2>
              <form class="popup-form">
                <label for="name">Name</label>
                <input type="text" name="name">
                <label for="name">Surname</label>
                <input type="text" name="name">
                <label for="name">Company name</label>
                <input type="text" name="name">
                <label for="name">E-mail</label>
                <input type="email" name="name">
                <button class="send-btn">Send</button>
              </form>

            </div>
            <a class="popup__close" href="#">X</a>
          </div>
        </div>
      </div>
    </div>
</header>