<header class="header">
  <div class="container">
    <div class="menu-nav">
      <nav class="menu-nav">
        <a class="logo" href="./index.html"
          ><img width="140px" height="50px" src="/src/images/logo.png" alt=""
        /></a>
        <ul class="list navigation">
          <li>
            <a class="nav-links current" href="./services.html">Services</a>
          </li>
          <li>
            <a class="nav-links" href="./industries.html">Industries</a>
          </li>
          <li><a class="nav-links" href="./about-us.html">About Us</a></li>
        </ul>
      </nav>
      <ul class="list navigation contacts">
        <!-- <li>
          <a class="nav-links-contacts" href="mailto:kyrylo.melnyk@cargoservice.kiev.ua">
            Email Us
          </a>
        </li> -->
        <li>
          <button id="openModalBtn">Открыть меню</button>
          <div id="modalMenu">
            <ul>
              <li><a href="#">Пункт меню 1</a></li>
              <li><a href="#">Пункт меню 2</a></li>
              <li><a href="#">Пункт меню 3</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
