<header class="header">
  <div class="container">
    <div class="menu-nav">
      <nav class="menu-nav">
        <a class="logo" href="./index.html"
          ><img src="/src/images/logo.png" alt=""
        /></a>
        <ul class="list navigation">
          <li>
            <a class="nav-links current" href="./services.html">Services</a>
          </li>
          <li>
            <a class="nav-links" href="./industries.html">Industries</a>
          </li>
          <li><a class="nav-links" href="./about-us.html">About Us</a></li>
        </ul>
      </nav>
      <ul class="list navigation contacts">
        <!-- <li>
          <a class="nav-links-contacts" href="mailto:kyrylo.melnyk@cargoservice.kiev.ua">
            Email Us
          </a>
        </li> -->
        <li>
          <button class="header-btn">
            Message
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
