<div class="backdrop is-hidden">
  <div class="modal-content">
    <div class="popup-wrapper">
      <h2 class="popup-title">Tell information about yourself</h2>
      <form class="popup-form">
        <label for="name">Name</label>
        <input type="text" name="name" />
        <label for="name">Surname</label>
        <input type="text" name="name" />
        <label for="name">Company name</label>
        <input type="text" name="name" />
        <label for="name">E-mail</label>
        <input type="email" name="name" />
        <button class="send-btn">Send</button>
      </form>
    </div>
  </div>
</div>
